/.DS_Store
/.vscode
/__pycache__
/demo_search.py
/efficient_search.py
/fasterrcnn_resnet152
/gallery
/instance_search_old.py
/query_txt
/resnet152
/resnet152.png
/resnet50
/resnet50.png
/test_fasterrcnn.py
/vgg19
/vgg19.png